{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul class="flash-messages">
        <!-- {% for category, message in messages %} -->
            <li class="{{ category }}">{{ message }}</li>
        <!-- {% endfor %} -->
    </ul>
{% endif %}
{% endwith %}

<section style="height: 5vh;">
  <header>
      <a href="/" class="logo">Smart<span>Buy</span></a>
      <ul>
          <li><a href="{{url_for('login_app.first')}}">Home</a></li>
          <li><a href="{{url_for('login_app.about')}}">About</a></li>
          <li><a href="{{url_for('login_app.dashboard')}}">Products</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
      <ul>
      <li><p><a href="{{url_for('login_app.register')}}">Sign up</a></p></li>
      <li><a href="{{url_for('login_app.home')}}"><p>Sign In</p></a></li>
      </ul>
  </header>
</section>  
<br><br>

<h1 class="mx-5 my-5" style="color:#b36982;">SignIn Page</h1>
<h2 class="mx-5" style="color:#b36982;"> Buy things online with the comfort of your home !!</h2>
<br>
<form method="POST" action="{{ url_for('login_app.home') }}">
    <div class="mb-3 mx-5" style="width:400px">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
    
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-info my-3 mx-5">Login</button>
    <br>
    <div class="mb-3 mx-5">
    <a href="{{ url_for('login_app.register')}}">Don't have an account ? Register</a>
    </div>
    <br><br>
    
    <a href="{{url_for('google_app.google_login')}}"><button type="button" class="btn btn-primary mx-5">Sign in with Google</button></a>
    <br><br>
    <a href="{{url_for('fb_app.facebook_login')}}"><button type="button" class="btn btn-primary mx-5">Sign in with
                Facebook</button></a> 
    <br><br>

    <a href="{{url_for('phone_app.phone')}}"><button type="button" class="btn btn-primary mx-3">Sign in with Phone Number</button></a>
</form>

<!-- Link to CSS file -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


{% endblock %}