<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
</head>

<body>
   {# <!-- {% if session %}
    <a href="{{url_for('logout')}}">Logout</a>
    <div>
        <pre>{{data}}</pre>
    </div>
    {% else %}
    <a href="{{url_for('google')}}">Login with Google</a>
    <br>
    <a href="{{url_for('facebook_login')}}">Login with Facebook</a>
    {% endif %} --> #}


    <a href="{{url_for('facebook_login')}}">Login with Facebook</a>
</body>

</html>