{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}

<form>
    <!-- class OrderForm(FlaskForm):
    order_status = SelectField('Order Status', choices=[('Pending', 'Pending'), ('Accepted', 'Accepted'),
                                                        ('Out for delivery', 'Out for delivery'),
                                                        ('Delivered', 'Delivered'), ('Canceled', 'Canceled')])

    update = SubmitField('Update Status')
</form> -->

{% endblock %}